[Desktop Entry]
Type=Application
Name=Counting Game
Exec=/home/alex/cv/boot_game.sh
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
